<div class="home-container">
    <figure class="trophy">
        <img src="../../../../assets/Trophy.png" alt="trophy">
    </figure>
    <div class="search-box">
        <app-ranking-school>
        </app-ranking-school>
    </div>
    <div class="ranking-all">
        <!-- <app-ranking-all
            [tableContent]="tableContentTop3"
            [dataSource]="dataSourceTop3"
            [displayedColumns]="displayedColumnsAll"
            [hidePaginator]="true">
        </app-ranking-all> -->
        <app-ranking-top-all>
        </app-ranking-top-all> 
    </div>
</div>
