@import url('../../../../styles.scss');

.home-container{
    display: flex;
    width: 100%;
    height: 100%;
    .trophy{
        position: absolute !important;
        right: 1%;
        height: fit-content;
        bottom: 2%;
    }
    .trophy img{

    }
    .search-box{
        display: flex;
        width: fit-content;
        flex-direction: column;
        .search-card{
            background-color: var(--surface-dark);
            height: fit-content;
            padding: 15px;
            margin-bottom: 15px;
            .search-box{
                h1{
                    font-size: var(--h4-size);
                }
        
            }
        }
        .search-card-content{
            margin: 0 16px !important;
        }
        .search-card-title{
            h1, h2, h3{
                margin-block: 0 !important;
            }
        }
    }
    .ranking-all{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-left: 15px;
        app-ranking-all{
            margin-bottom: 15px;
        }
    }
}
