<div class="home-container">
    <figure class="trophy">
        <img src="../../../../assets/Trophy.png" alt="trophy">
    </figure>
    <div class="search-box">
        <mat-card class="search-card">
            <mat-card-header>
                <mat-card-title class="search-card-title">
                    <h3>Selecionar escola</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="search-card-content">
                <app-select-field
                    [control]="schoolTypeControl"
                    label="Selecione uma escola: "
                    placeholder="Selecionar..."
                    [listOptions]="schoolList"
                    valueProp="id"
                    labelProp="type">
                </app-select-field>
                <app-button
                    buttonText="PESQUISAR">
                </app-button>
            </mat-card-content>
        </mat-card>

        <app-ranking-school
            [tableContent]="tableSchoolContent"
            [dataSource]="dataSource"
            [displayedColumns]="displayedColumnsSchool">
        </app-ranking-school>
    </div>
    <div class="ranking-all">
        <app-ranking-all
            [tableContent]="tableContentTop3"
            [dataSource]="dataSourceTop3"
            [displayedColumns]="displayedColumnsAll"
            [hidePaginator]="true">
        </app-ranking-all>
        <app-ranking-top-all
            [tableContent]="tableContent"
            [displayedColumns]="displayedColumnsAll"
            [dataSource]="dataSourceGeneral">
        </app-ranking-top-all>
    </div>
</div>
