.ranking-school-container{
    display: flex !important;
    .ranking-school-card{
        width: fit-content;
        background-color: var(--surface-dark);
        .search-card-title{
            h5{
                margin: 0 0 10px 0 !important;
            }
        }
        .search-card-content{
            .select-school-form{
                display: flex !important;
                .select-school-button{
                    margin-left: 10px;
                }
            }
        }
    }
}
