<mat-card class="ranking-school-card">
    <mat-card-header>
        <mat-card-title class="search-card-title">
            <h5>Escola de Dados</h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="ranking-card-content">
        <mat-table #table [dataSource]="dataList" class="school-table">
            <div *ngIf="columns | async as cols">
                <ng-container *ngFor="let column of cols" [matColumnDef]="column.columnDef">
                    <mat-header-cell *matHeaderCellDef>{{column.header}}</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{column.cell(row)}}</mat-cell> 
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </div>
        </mat-table>
    </mat-card-content>
</mat-card>
