.school-table{
    .school-table-container{
        .school-table-col{
            min-width: 150px !important;
        }
    }

}

::ng-deep{
  .mat-paginator-container{
    flex-wrap: unset !important;
  }
  .mat-header-cell{
    background-color: var(--bg-dark);
  }
  .mat-row{
    background-color: var(--surface-dark-2);
    width: 100%;
    min-height: 42px !important;
  }
  .mat-header-row{
    min-height: 35px !important;
  }
  .mat-cell, .mat-header-cell{
    padding: 0 16px !important;
    min-width: 100px;
    white-space: nowrap;
    width: 150px;
  }

  mat-cell, mat-header-cell{
    min-height: inherit;
    min-width: fit-content;
    text-align: right;
    flex: none !important;
  }

  mat-cell:first-child, mat-header-cell:first-child{
    width: 10px !important;
    min-width: 10px !important;
  }
  
  .mat-cell:last-child {
    color: var(--primary-dark);
    min-width: 40px !important;
    width: 10px !important;
  }

  .mat-header-cell:last-child{
    min-width: 50px !important;
    width: 20px !important;
  }
}
