<mat-table #table [dataSource]="dataList" class="school-table">
  <div *ngIf="columns | async as cols" class="school-table-container">
    <ng-container matColumnDef="ranking" class="school-first-col">
      <mat-header-cell *matHeaderCellDef>
        <span>
          Pos.
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        <span>
          {{i+1}}
        </span>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let column of cols" [matColumnDef]="column.columnDef" class="school-col">
      <mat-header-cell *matHeaderCellDef>
        <span>
          {{ column.header }}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span>
          {{ column.cell(row) }}
        </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </div>
</mat-table>
